.contador {
  width: 250px; 
  .con-stock, .sin-stock { 
    max-width: 150px;
    /* margin: 0 auto; */
    text-align: center;
    background-color: var(--tag-color);
    color: var(--clear-color);
  } 
  .sin-stock {
    background-color: var(--alert-color);
  }
  .botones__container {
    width: 150px;
    margin: 5px 0 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color); 
    .contador_numero {
      color: var(--clear-color); 
      font-size: 18px;
    }
    .boton {
      background-color: var(--clear-color);
      display: flex;
      padding: 0 10px 5px;
      font-size: 20px;
      border: none;
      border-radius: 3px;
    }
  }
}