.contador {
  width: 250px; 
  p { 
    max-width: 200px; 
    margin: 0 auto;
    text-align: center; 
    background-color: var(--tag-color); 
    color: var(--clear-color);
  }
  .botones__container {
    width: 90%; 
    margin: 5px auto 25px;
    padding: 10px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: var(--primary-color); 
    .contador_numero {
      color: var(--clear-color); 
      font-size: 18px;
    }
    .boton {
      background-color: var(--clear-color); 
      padding: 5px;
      font-size: 16px;
      border: none; 
      border-radius: 3px;
    }
  }
}