.contador {
  width: 200px; 
  padding: 25px; 
  background-color: var(--clear-color);
  border: 1px solid grey; 
  p {
    margin: 0 auto 5px; 
    text-align: center; 
  }
  .botones__container {
    width: 90%; 
    margin: 25px auto;
    padding: 10px;
    display: flex; 
    justify-content: space-between; 
    background-color: var(--primary-color); 
    .boton {
      background-color: var(--clear-color); 
      font-size: 16px;
      border: none; 
      border-radius: 3px;
    }
  }
}