.navbar {
  width: 100vw; 
  height: 50px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background-color: transparent; 
  span, a {
    color: rgb(8, 98, 215); 
    font-size: 16px; 
    text-decoration: none; 
    margin: 0 10px 0 0; 
  } 
  a {
    &:hover {
      color: red; 
      font-size: 18px; 
      text-decoration: underline;
    }
  } 

  img {
    height: 30px; 
    margin: 5px;
  }
  .left-navbar, .right-navbar { 
    display: flex; 
    align-items: center;
    
  } 
  
}