.navbar {
  width: 100vw; 
  height: 50px; 
  // position: sticky; 
  top: 0;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background: var(--primary-color);
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--dark-color) 93%);
  span, a {
    color: var(--clear-color); 
    font-size: 16px; 
    text-decoration: none; 
    margin: 0 10px 0 0; 
    
  } 
  .carrito {
    margin-right: 20px;
    font-size: 20px;
  }
  a {
    &:hover {
      color: red; 
      font-size: 18px; 
      text-decoration: underline;
    }
  } 


  img {
    height: 30px; 
    margin: 5px;
  }
  .left-navbar, .right-navbar { 
    display: flex; 
    align-items: center;
    
  } 
  
}